@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: #2d42ff;
    --primary-pink: #ff4895;
    --primary-purple: #6e4fe9;
    --primary-black: #1d1a27;
    --primary-light-blue: #1766ff;

    --neutral-800: #13111a;
    --neutral-700: #302c3f;
    --neutral-600: #5e5b71;
    --neutral-500: #88849c;
    --neutral-400: #b7b4c7;
    --neutral-300: #d9d7e6;
    --neutral-200: #f5f4fa;

    --white: #ffffff;
    --black: #000000;

    --shadow-card-default: rgba(0, 0, 0, 0.1);
    --shadow-card-large: rgba(0, 0, 0, 0.35);
    --shadow-card-large-dark: rgba(0, 0, 0, 0.45);

    --radius: 0.5rem;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;
  }

  .dark {
    --primary-blue: #4a5eff;
    --primary-pink: #ff67a5;
    --primary-purple: #7e5ffe;
    --primary-black: #2a272f;
    --primary-light-blue: #2a7aff;

    --neutral-800: #1a1821;
    --neutral-700: #3d384c;
    --neutral-600: #63607c;
    --neutral-500: #8b879c;
    --neutral-400: #adaac1;
    --neutral-300: #d1cfe0;
    --neutral-200: #eae8f5;

    --white: #ffffff;
    --black: #000000;

    --shadow-card-default: rgba(0, 0, 0, 0.1);
    --shadow-card-large: rgba(0, 0, 0, 0.35);
    --shadow-card-large-dark: rgba(0, 0, 0, 0.45);
  }
}