@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: #2d42ff;
    --primary-pink: #ff4895;
    --primary-purple: #6e4fe9;
    --primary-black: #13111a;
    --primary-light-blue: #1766ff;

    --secondary-blue: #4f56ff;
    --secondary-pink: #ff4980;
    --secondary-purple: #c084fc;
    --secondary-purple-dark: #9C27B0;
    --secondary-neon: #00c4cc;

    --neutral-800: #1d1a27;
    --neutral-700: #302c3f;
    --neutral-600: #5e5b71;
    --neutral-500: #88849c;
    --neutral-400: #b7b4c7;
    --neutral-300: #d9d7e6;
    --neutral-200: #f5f4fa;

    --white: #ffffff;
    --black: #000000;
    --logo-text: #ffd700;

    --shadow-card-default: rgba(0, 0, 0, 0.1);
    --shadow-card-large: rgba(0, 0, 0, 0.35);
    --shadow-card-large-dark: rgba(0, 0, 0, 0.45);
    --shadow-card-extra-large-dark: rgba(0, 0, 0, .65);

    --radius: 0.5rem;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --green-tag: #009A70;
    --orange-tag: #CB4822;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;
  }

  .dark {
    --primary-blue: #4a5eff;
    --primary-pink: #ff67a5;
    --primary-purple: #7e5ffe;
    --primary-black: #2a272f;
    --primary-light-blue: #2a7aff;

    --neutral-800: #1a1821;
    --neutral-700: #3d384c;
    --neutral-600: #63607c;
    --neutral-500: #8b879c;
    --neutral-400: #adaac1;
    --neutral-300: #d1cfe0;
    --neutral-200: #eae8f5;

    --white: #ffffff;
    --black: #000000;

    --shadow-card-default: rgba(0, 0, 0, 0.1);
    --shadow-card-large: rgba(0, 0, 0, 0.35);
    --shadow-card-large-dark: rgba(0, 0, 0, 0.45);
  }

  .button-primary-gradient {
    transform-style: preserve-3d;
    background-image: linear-gradient(to right, #6f86ff, #b372ce 49%, #ff7586);
    border-radius: 10000px;
    padding: 2px;
    transition: transform 0.3s;
    display: inline-block;
    transform: scale3d(1, 1, 1.01);
    box-shadow: 0 3px 7px rgba(19, 17, 26, 0.14);
  }
  
  .gradient-border-inner {
    padding: 15px 50px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 2rem;
    background: linear-gradient(to right, #6f86ff, #b372ce 49%, #ff7586);
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  .gradient-border-inner:hover {
    border-radius: 1.6rem;
  }

  .gradient-border-inner::before {
    content: "";
    color: var(--white);
    position: absolute;
    top: 1.5px;
    right: 1.5px;
    bottom: 1.5px;
    left: 1.5px;
    background-color: var(--primary-black);
    border-radius: 2rem;
    z-index: -1;
  }

  .gradient-text {
    background-image: linear-gradient(270deg, #4f56ff, #ff4980);
    background-clip: text;
    color: transparent;
  }

  .line-divider {
    height: 1px;
    width: 100%;
    background-color: var(--neutral-700);
  }

  .icon-gradient {
    /* transform-style: preserve-3d; */
    background-image: linear-gradient(315deg, #434bff, #ff4b81);
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: "transparent"; */
  }

  .link-underline-gradient-container:hover {
    .link-underline-gradient-effect::after {
      width: 100%;
    }
  }

  .link-underline-gradient-effect::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5rem;
    height: 1px;
    width: 0;
    background: linear-gradient(to right, #6f86ff, #b372ce 49%, #ff7586);
    transition: all 0.3s ease-out;
  }

  .text-details-dot-separator::before {
    content: "\00B7";
    color: var(--primary-light-blue);
    margin: 0 0.25rem;
    text-decoration-line: none !important;
  }

  .text-details-dot-separator * {
    text-decoration-line: inherit;
  }

  .bg-gradient {
    background: linear-gradient(to right, #6f86ff, #b372ce 49%, #ff7586);
  }

  .bg-navbar-gradient {
    background: linear-gradient(to right, rgb(155, 162, 175), #302c3f 25%, #1d1a27 100%);
  }

}
